<html>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="../WebFinalNonGit/styles/vendor/material.deep_purple-blue.min.css" />
        <script src="../WebFinalNonGit/src/settings.js"></script>
        <script src="../WebFinalNonGit/src/vendor/material.min.js"></script>
        <script src="../WebFinalNonGit/src/vendor/jquery-3.7.1.min.js"></script>
    </head>
    <body>
        <div style="display: flex; flex-direction: column; gap: 16px; width: 300px; margin: 0 auto">
            <div id="WebSocketStatus">
                <h4>WebSocket Client Status</h4>
                <ul class="list-item mdl-list">
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content" id="WSStatusIP"></span>
                    </li>
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content" id="WSStatusPort"></span>
                    </li>
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content" id="WSStatusPath"></span>
                    </li>
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content" id="WSStatusProtocol"></span>
                    </li>
                </ul>
            </div>
            <hr />
            <h4>WebSocket Client Settings</h4>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="WebSocketClientIP" />
                <label class="mdl-textfield__label" for="WebSocketClientIP">WebSocket IP</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input
                    class="mdl-textfield__input"
                    type="text"
                    pattern="-?[0-9]*(\.[0-9]+)?"
                    id="WebSocketClientPort"
                />
                <label class="mdl-textfield__label" for="WebSocketClientPort">WebSocket Port</label>
                <span class="mdl-textfield__error">Input is not a number!</span>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="WebSocketClientPath" />
                <label class="mdl-textfield__label" for="WebSocketClientPath">WebSocket Path</label>
            </div>
            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="WebSocketClientProtocol">
                <input type="checkbox" id="WebSocketClientProtocol" class="mdl-switch__input" />
                <span class="mdl-switch__label">Secure WebSocket?</span>
            </label>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input
                    class="mdl-textfield__input"
                    type="text"
                    pattern="-?[0-9]*(\.[0-9]+)?"
                    id="WebSocketReconnectTimeout"
                />
                <label class="mdl-textfield__label" for="WebSocketReconnectTimeout">Reconnect Timeout</label>
                <span class="mdl-textfield__error">Input is not a number!</span>
            </div>
            <button class="mdl-button mdl-button--raised" id="Settings_Save" onclick="ApplySettings()">
                Apply Settings
            </button>
            <button
                class="mdl-button mdl-button--raised"
                id="Settings_ClearLocalStorage"
                onclick="javascript:ClearLocalStorage()"
            >
                Clear Local Storage
            </button>
            <button
                class="mdl-button mdl-button--raised"
                id="Settings_Reconnect"
                onclick="javascript:ReconnectToAMTDesktop()"
            >
                Reconnect to AMT Desktop
            </button>
        </div>
    </body>
</html>
