body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    text-align: center;
}

#csvFileInput {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

#csvFileInput:hover {
    background-color: #0056b3;
}

/*burhhhhh*/
